<div>
	<div class="row">
 
    <nav class="navbar navbar-default navbar-justified" role="navigation">
    
    <div class="col-lg-12">
   
    	<div class="pull-left">
 
        <div class="navbar-btn navbar-left">
            <button class="btn btn-default">
            <span class="glyphicon glyphicon-align-justify"></span>
            <span class="label-icon">Menu</span>
            </button>
        </div>
        
        <div class="navbar-btn navbar-left">
            <button class="btn btn-default">
                <span class="glyphicon glyphicon-dashboard"></span>
                <span class="label-icon">Dashboard</span>
            </button>
        </div>

    	</div> 
    
    </div>
        
 
    <div class="pull-right" >
     
        <div class="navbar-nav navbar-btn navbar-right">
            <div class="dropdown">
                <button class="btn btn-default  dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-cog"></span>
                    <span class="label-icon">Preferences</span>
                </button>
                 <ul class="dropdown-menu" style="width:300px; padding:0px;">
                                    
                    <li>
                                        
                        <form class="form-horizontal" id="preferences" action="" method="post" accept-charset="utf-8">
                                            
                        <hidden input value ="netdna.bootstrapcdn.com/bootswatch/3.1.0/" name="theme_url">

                        <div class="panel panel-default" id="preferences" style="margin:0px;">
                                                
                        <div class="panel-heading">
                        	<span class="panel-label">User Preferences</span>
                        </div>
                                               
                        <div class="panel-body">
                                                    
                            <div class="form-group">
                            	<label for="nav_theme" class="col-lg-6 control-label" >
                            	Navbar
                            	</label>
                            	<div class="col-lg-6">
                            	<select class="form-control" id="nav_theme" name="nav_theme">
                            	<option value="navbar-default">Basic</option>
                            	<option value="navbar-default">Default</option>
                            	<option value="navbar-default">Inverse</option>
                            	<option value="navbar-default">Outline</option>
                            	</select>
                        		</div>
                         	</div>
                                                                
                            <div class="form-group">
                            	<label for="btn_theme" class="col-lg-6 control-label" >
                             	Button Theme
                            	</label>
                            <div class="col-lg-6">
                                <select class="form-control" id="btn_theme" name="btn_theme">
                                <option value="btn-primary">Primary</option>
                                <option value="btn-default">Default</option>
                                <option value="btn-success">Success</option>
                                <option value="btn-info">Info</option>
                                <option value="btn-warning">Warning</option>
                                <option value="btn-danger">Danger</option>
                               	<option value="btn-inverse">Inverse</option>
                                </select>
                            </div>
                            </div>
                                                    
                            <div class="form-group">
                                <label for="theme_name" class="col-lg-6 control-label">
                                Theme
                               	</label>
                            <div class="col-lg-6">
                                <select class="form-control" id="theme_name" name="theme_name">
                                <option value="amelia"> Amelia </option>
                                <option value="bootstrap"> Default </option>
                                <option value="cerulean"> Cerulean </option>
                                <option value="cosmo"> Cosmo </option>
                                <option value="cyborg"> Cyborg </option>
                                <option value="flatly"> Flatly </option>
                                <option value="journal"> Journal </option>
                                <option value="lumen"> Lumen </option>
                                <option value="readable"> Readable </option>
                                <option value="simplex"> Simplex </option>
                                <option value="slate"> Slate </option>
                                <option value="spacelab"> Spacelab </option>
                                <option value="superhero"> Superhero </option>
                                <option value="united"> United </option>
                                <option value="yeti"> Yeti </option>
                                <option value="whiteplum"> WhitePlum </option>
                                </select>
                               </div>
                               </div>
  
                        <div class="form-group">
                            <label for="text_size" class="col-lg-6 control-label">
                              Display Label
                            </label>
                            <div class="col-lg-6">
                            <div class="btn-group" data-toggle="buttons" style="margin:0px padding:0px;">
                              <label class="btn btn-default toggle-button" style="pull-left margin:0px padding:0px; width:50%">
                              <input id="inlineradio1" name="display_label" type="radio" value="">
                              Show
                             </label>
                             <label class="btn btn-default toggle-button" style="pull-right margin:0px padding:0px; width:50%">
                             <input id="inlineradio2" name="display_label" type="radio" value="hide" >
                                Hide
                            </label>
                            </div>
                            </div>
                        </div>
                                                    
                </div>
                                                    
                <div class="panel-footer">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Update</button> 
                    </div>
                </div>
           	</form>
        </li>
        </ul>
             </div>
         </div>
        
        <div class="navbar-btn navbar-right">
            <div class="dropdown">
                <button class="btn btn-default  dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-bell"></span>
                    <span class="label-icon">Alerts</span>
                </button>
            </div>
        </div>
 
     </div> 
    
    </div><!-- /.col-lg-6 -->
    
    </div>
  
  </nav>
 
</div> 
</div>