<div class="container">
    <div class="row">
      	<div> 
      		    <div class="w3-row-padding w3-margin-bottom">
      <div class="w3-quarter">
        <div class="w3-container w3-teal w3-padding-16">
          <div class="w3-left">
            <h2>$40000</h2>
          </div>
          <div class="w3-right"><i class="fa fa-dollar w3-xxxlarge"></i></div>
          <div class="w3-clear"></div>
          <h4>Presupuesto Mensual</h4>
        </div>
      </div>
      <div class="w3-quarter">
        <div class="w3-container w3-red w3-padding-16">
          <div class="w3-right"><i class="fa fa-pie-chart w3-xxxlarge"></i></div>
          <div class="w3-left">
            <h2>$8000</h2>
          </div>
          <div class="w3-clear"></div>
          <h4>Gastos Mensuales Fijos</h4>
        </div>
      </div>
      <div class="w3-quarter">
        <div class="w3-container w3-orange w3-text-white w3-padding-16">
          <div class="w3-right"><i class="fa fa fa-money w3-xxxlarge"></i></div>
          <div class="w3-left">
            <h2>$0</h2>
          </div>
          <div class="w3-clear"></div>
          <h4>Gastos del Mes</h4>
        </div>
      </div>
      <div class="w3-quarter">
        <div class="w3-container w3-blue w3-padding-16">
          <div class="w3-right"><i class="fa fa-suitcase w3-xxxlarge"></i></div>
          <div class="w3-left">
            <h2>$0</h2>
          </div>
          <div class="w3-clear"></div>
          <h4>Ingresos Extraordinarios</h4>
        </div>
      </div>
    </div>
  </div>
      		
    		<div zingchart id="chart-1" zc-json="myJson" zc-width="100%" zc-height="568px"></div>

  			<section>
		  		<div id='myChart'><a class="zc-ref" href="https://www.zingchart.com/">Powered by ZingChart</a></div>
			</section>

		
    </div>
</div>